html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.col, .nanotec, nav, ul, ul a {
  margin: auto;
  vertical-align: top;
  display: inline-block;
  width: 100%; }
  .col img, .nanotec img, nav img, ul img, ul a img {
    max-width: 100%; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* ----------- GRID ----------- */
.s-1 {
  width: 16%; }

.s-2 {
  width: 32%; }

.s-3 {
  width: 48%; }

.s-4 {
  width: 64%; }

.s-5 {
  width: 80%; }

.s-6 {
  width: 96%; }

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center; }

/*Header Styles*/
header nav {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 1px lightgrey;
  text-align: left;
  z-index: 2;
  font-weight: 500; }
  header nav i {
    color: #009688; }
  header nav .nanotec {
    width: 54%;
    padding: 0.8rem;
    font-weight: 500;
    font-size: 2rem;
    color: #009688;
    text-decoration: none;
    text-align: left; }
  header nav ul {
    width: 44%;
    text-align: center;
    text-align: right; }
  header nav a {
    color: #00877a;
    width: 29%;
    text-decoration: none;
    text-align: center; }
  header nav li {
    font-size: 1.2rem;
    transition: 0.4s ease;
    padding: 1.22rem 0; }
  header nav li:hover {
    background-color: #e6e6e6; }
  header nav .onthis {
    color: white;
    background-color: #009688;
    cursor: default; }
    header nav .onthis i {
      color: white; }
  header nav .onthis:hover {
    color: white;
    background-color: #009688;
    cursor: default; }
header .hero {
  height: 100vh;
  background-color: black;
  width: 100%;
  padding-top: 15vh;
  overflow: hidden; }
  header .hero video {
    width: 100%;
    position: relative;
    z-index: 0;
    opacity: 0.6; }
  header .hero img {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%; }
header .bem {
  font-size: 5rem;
  font-weight: 500;
  color: white;
  position: absolute;
  width: 80%;
  top: 14rem;
  left: 10%;
  z-index: 0; }
  header .bem span {
    color: #009688; }
header h2 {
  color: white;
  position: absolute;
  top: 20.5rem;
  line-height: 2.2rem;
  left: 14%;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left; }

/*Main Styles*/
#registro, #green {
  background-color: #ceeadd; }
  #registro main, #green main {
    margin-top: 2rem; }
    #registro main h1, #registro main h2, #green main h1, #green main h2 {
      font-size: 2rem;
      font-weight: 500;
      margin: 1rem 0;
      color: #009688; }
    #registro main .cadastro, #registro main .escolha, #green main .cadastro, #green main .escolha {
      width: 25%;
      box-shadow: 0px 1px 5px grey;
      background-color: white;
      margin: auto;
      margin-top: 8rem;
      font-weight: 400;
      padding: 1rem 0;
      border-radius: 0.2rem; }
      #registro main .cadastro button, #registro main .escolha button, #green main .cadastro button, #green main .escolha button {
        border: none;
        background-color: #009688;
        color: white;
        padding: 0.5rem 1rem;
        margin-top: 1.5rem;
        border-radius: 0.2rem;
        font-size: 1.5rem;
        cursor: pointer;
        border: 1px solid white;
        transition: 0.2s ease; }
      #registro main .cadastro button:hover, #registro main .escolha button:hover, #green main .cadastro button:hover, #green main .escolha button:hover {
        color: #009688;
        background-color: white;
        border: 1px solid #009688; }
      #registro main .cadastro a, #registro main .escolha a, #green main .cadastro a, #green main .escolha a {
        border: 1px solid grey;
        margin: auto;
        margin-bottom: 1rem;
        padding: 0.5rem;
        text-decoration: none;
        display: inline-block;
        font-size: 1.6rem;
        color: grey;
        width: 60%;
        transition: 0.5s ease;
        border-radius: .2rem; }
      #registro main .cadastro a:hover, #registro main .escolha a:hover, #green main .cadastro a:hover, #green main .escolha a:hover {
        color: white;
        background-color: #009688;
        border: 1px solid #009688; }
    #registro main .equipe, #green main .equipe {
      width: 60%;
      box-shadow: 0px 1px 5px grey;
      background-color: white;
      margin: auto;
      margin-top: 5rem;
      font-weight: 400;
      padding: 1rem 0;
      border-radius: 0.2rem; }
      #registro main .equipe button, #green main .equipe button {
        border: none;
        background-color: #009688;
        color: white;
        padding: 0.5rem 1rem;
        margin-top: 1.5rem;
        border-radius: 0.2rem;
        font-size: 1.5rem;
        cursor: pointer;
        border: 1px solid white;
        transition: 0.2s ease; }
      #registro main .equipe button:hover, #green main .equipe button:hover {
        color: #009688;
        background-color: white;
        border: 1px solid #009688; }
    #registro main input, #registro main select, #registro main textarea, #green main input, #green main select, #green main textarea {
      width: 90%;
      margin: 0.5rem 0;
      padding: 0.4rem;
      font-size: 1.1rem;
      font-weight: 300;
      color: #009688; }
    #registro main textarea, #green main textarea {
      width: 90%;
      height: 10rem;
      resize: none; }
    #registro main .check, #green main .check {
      width: 10%; }
  #registro .pedidos, #green .pedidos {
    background-color: white;
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 6rem;
    padding: .5rem 0;
    box-shadow: 0px 1px 5px #87cbab; }
    #registro .pedidos .pedido, #green .pedidos .pedido {
      width: 100%;
      padding: 0.5rem 1rem;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      margin-top: -1px; }
      #registro .pedidos .pedido p, #green .pedidos .pedido p {
        margin: 0.5rem 0; }

#painel {
  background-color: #ceeadd; }
  #painel .controle {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 8rem;
    padding: 1rem 0;
    padding-bottom: 2rem;
    border-radius: 0.2rem; }
    #painel .controle h2 {
      font-weight: 400;
      font-size: 1.6rem;
      color: #222;
      margin: 1rem 0;
      margin-bottom: 2rem; }
      #painel .controle h2 span {
        color: #009688;
        font-weight: 500; }
    #painel .controle a, #painel .controle button {
      border: 1px solid lightgrey;
      background-color: white;
      padding: 0.5rem 0.4rem;
      width: auto;
      margin: 0.5rem;
      color: #009688;
      text-decoration: none;
      font-size: 1.3rem;
      transition: 0.5s ease;
      cursor: pointer; }
    #painel .controle a:hover, #painel .controle button:hover {
      background-color: #009688;
      color: white; }
    #painel .controle .pedido {
      width: 100%;
      border-bottom: 1px solid lightgrey;
      padding: 1.5rem; }
      #painel .controle .pedido p {
        display: inline-block;
        line-height: 1.2rem;
        margin: .5rem .3rem;
        width: 30%;
        vertical-align: top; }
        #painel .controle .pedido p b {
          color: #007d71;
          margin: 1.5rem 0; }
      #painel .controle .pedido button {
        margin: auto; }

.visor div {
  text-align: left;
  margin: 0 0.5rem; }
  .visor div h3 {
    text-align: center; }
  .visor div p {
    font-size: 1.2rem; }

.especial {
  margin-top: 0.5rem;
  padding: 1rem;
  border: 1px solid #afafaf;
  text-align: left; }
  .especial input {
    cursor: pointer;
    height: 1.5rem; }
  .especial h3 {
    font-weight: 400;
    text-align: center;
    font-size: 1.5rem; }
  .especial p {
    display: inline;
    text-align: center; }

/*Footer styles*/
@media only screen and (min-width: 560px) {
  /*For tablet screens*/
  /* ----------- GRID ----------- */
  .m-1 {
    width: 9.6%; }

  .m-2 {
    width: 19.2%; }

  .m-3 {
    width: 28.8%; }

  .m-4 {
    width: 38.4%; }

  .m-5 {
    width: 48%; }

  .m-6 {
    width: 57.6%; }

  .m-7 {
    width: 67.2%; }

  .m-8 {
    width: 76.8%; }

  .m-9 {
    width: 86.4%; }

  .m-10 {
    width: 96%; }

  /*Header Styles*/
  /*Main Styles*/
  /*Footer styles*/ }
@media only screen and (min-width: 1140px) {
  /*For pc screens*/
  /* ----------- GRID ----------- */
  .l-1 {
    width: 6%; }

  .l-2 {
    width: 12%; }

  .l-3 {
    width: 18%; }

  .l-4 {
    width: 24%; }

  .l-5 {
    width: 30%; }

  .l-6 {
    width: 36%; }

  .l-7 {
    width: 42%; }

  .l-8 {
    width: 48%; }

  .l-9 {
    width: 54%; }

  .l-10 {
    width: 60%; }

  .l-11 {
    width: 66%; }

  .l-12 {
    width: 72%; }

  .l-13 {
    width: 78%; }

  .l-14 {
    width: 84%; }

  .l-15 {
    width: 90%; }

  .l-16 {
    width: 96%; }

  /*Header Styles*/
  /*Main Styles*/
  #green {
    background-color: #ceeadd; }

  /*Footer styles*/ }

/*# sourceMappingURL=styles.css.map */
