/* ----------- GRID ----------- */

@for $i from 1 through 16{
  $w: ($i / 16) * 96%;

  .l-#{$i} {width:$w; }
}
/*Header Styles*/




/*Main Styles*/
 #green{
   background-color: $col-3;
 }

 .escolha{
  background-color: white;
  margin-top: 8rem;
  padding: 1rem 0;
  padding-bottom: 2rem;

  h2{
    font-size:2.2rem;
    color: #444;
    font-weight: 300;
    margin-bottom:2rem;
  }

  a{
    border: 1px solid grey;
    padding: 0.5rem;
    font-size: 1.6rem;
    color: grey;
    background-color: inherit;
    text-decoration: none;
    margin: 4rem 2rem;
    margin-bottom: 8rem;
    transition: 0.5s ease;
    border-radius: 0.2rem;
  }
  a:hover{
    color: white;
    background-color: $col-2;
    border: 1px solid white;
  }
 }


/*Footer styles*/
