$gutter: 20%;


.col{margin:auto;
vertical-align: top;
display: inline-block;
width:100%;
 img{
   max-width:100%;
 }
}

$col-1:#0ba562;
$col-2:#009688;
$col-3:#ceeadd;
$col-4:#F5F1D5;
$col-5:#F2845C;
