html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.col {
  margin: auto;
  vertical-align: top;
  display: inline-block;
  width: 100%; }
  .col img {
    max-width: 100%; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* ----------- GRID ----------- */
.s-1 {
  width: 16%; }

.s-2 {
  width: 32%; }

.s-3 {
  width: 48%; }

.s-4 {
  width: 64%; }

.s-5 {
  width: 80%; }

.s-6 {
  width: 96%; }

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center; }

/*Header Styles*/
header nav {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 1px lightgrey;
  text-align: left;
  z-index: 2; }
  header nav i {
    color: #009688; }
  header nav h1 {
    padding: 0.8rem;
    font-weight: 500;
    font-size: 2rem;
    color: #009688; }
  header nav ul {
    float: right;
    text-align: center; }
  header nav a {
    color: black; }
  header nav li {
    font-size: 1.2rem;
    transition: 0.4s ease;
    padding: 1.22rem 0; }
  header nav li:hover {
    background-color: #e6e6e6; }
  header nav .onthis {
    color: white;
    background-color: #009688; }
    header nav .onthis i {
      color: white; }
header .hero {
  height: 100vh;
  background-color: black;
  width: 100%;
  padding-top: 15vh;
  overflow: hidden; }
  header .hero video {
    width: 100%;
    position: relative;
    z-index: 0;
    opacity: 0.6; }
  header .hero img {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%; }
header .bem {
  font-size: 5rem;
  font-weight: 500;
  color: white;
  position: absolute;
  width: 80%;
  top: 12rem;
  left: 10%;
  z-index: 0; }
  header .bem span {
    color: #009688; }
header h2 {
  color: white;
  position: absolute;
  top: 18.5rem;
  line-height: 2rem;
  left: 14%;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left; }

/*Main Styles*/
#registro {
  background-color: #ceeadd; }
  #registro main {
    margin-top: 2rem; }
    #registro main h1 {
      font-size: 2.5rem;
      font-weight: 500;
      margin: 1rem 0;
      color: #009688; }
    #registro main .cadastro {
      width: 25%;
      box-shadow: 0px 1px 5px grey;
      background-color: white;
      margin: auto;
      font-weight: 400;
      padding: 1rem 0;
      border-radius: 0.2rem; }
      #registro main .cadastro button {
        border: none;
        background-color: #009688;
        color: white;
        padding: 0.5rem 1rem;
        margin-top: 1.5rem;
        border-radius: 0.2rem;
        font-size: 1.5rem;
        cursor: pointer; }
    #registro main input {
      width: 90%;
      margin: 1rem 0;
      padding: 0.4rem;
      font-size: 1.2rem;
      font-weight: 300; }

/*Footer styles*/
@media only screen and (min-width: 560px) {
  /*For tablet screens*/
  /* ----------- GRID ----------- */
  .m-1 {
    width: 9.6%; }

  .m-2 {
    width: 19.2%; }

  .m-3 {
    width: 28.8%; }

  .m-4 {
    width: 38.4%; }

  .m-5 {
    width: 48%; }

  .m-6 {
    width: 57.6%; }

  .m-7 {
    width: 67.2%; }

  .m-8 {
    width: 76.8%; }

  .m-9 {
    width: 86.4%; }

  .m-10 {
    width: 96%; }

  /*Header Styles*/
  /*Main Styles*/
  /*Footer styles*/ }
@media only screen and (min-width: 1140px) {
  /*For pc screens*/
  /* ----------- GRID ----------- */
  .l-1 {
    width: 6%; }

  .l-2 {
    width: 12%; }

  .l-3 {
    width: 18%; }

  .l-4 {
    width: 24%; }

  .l-5 {
    width: 30%; }

  .l-6 {
    width: 36%; }

  .l-7 {
    width: 42%; }

  .l-8 {
    width: 48%; }

  .l-9 {
    width: 54%; }

  .l-10 {
    width: 60%; }

  .l-11 {
    width: 66%; }

  .l-12 {
    width: 72%; }

  .l-13 {
    width: 78%; }

  .l-14 {
    width: 84%; }

  .l-15 {
    width: 90%; }

  .l-16 {
    width: 96%; }

  /*Header Styles*/
  /*Main Styles*/
  /*Footer styles*/ }

/*# sourceMappingURL=styles.css.map */
