<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <link rel="stylesheet" href="CSS/fontawesome-all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" href="CSS/styles.css">
    <link rel="stylesheet" href="CSS/remove-colors.css">
  </head>

  <body>

    <header>
      <nav>
        <h1 class="col l-4">NANOTEC</h1>
        <ul class="col l-8">
          <a href=""><li class="col l-4"><i class="fas fa-address-card"></i> REGISTRAR</li></a>
          <a href=""><li class="col l-4"><i class="fas fa-home"></i> LOGIN</li></a>
          <a href=""><li class="col l-4"><i class="fas fa-book"></i> SOBRE NÓS</li></a>
        </ul>
      </nav>

      <div class="hero">
        <img src="images/8478.jpg" alt="">
      </div>
    </header>

    <main>
    </main>

<script type="text/javascript" src="JS/main.js"></script>
  </body>

  </html>
